<style>
  .table-responsive {
    font-size: 20px;
  }
</style>
<h1>FP Noco Analysis:   <%= @range.split('~').join(' - ') %></h1>
<% if @scenario %>
  <h2><%=@scenario.name%><h2>
  <%= @scenario.description %>
  <br />
  <br />
<% end %>

<% if @totals_data.keys.size == 3 %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th scope="col">type</th>
        <th scope="col">Deliveries</th>
        <th scope="col">Hours</th>
        <th scope="col">Gals</th>
        <th scope="col">Miles</th>
        <th scope="col">Time servicing</th>
        <th scope="col">Fill rate</th>
        <th scope="col">Miles/hour</th>
        <th scope="col">Gals/miles</th>
        <th scope="col">Gals/delivery</th>
        <th scope="col">Gals/hour</th>
        <th scope="col">Delivery/hour</th>
        <th scope="col">Delivery/day</th>
      </tr>
      <% @totals_data.each_key do |key| %>
        <% if key == 'delta' %>
          <tr>
            <td></td>
            <td class="<%= @totals_data[key]['deliveries'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['deliveries'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['total_hours'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['total_hours'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['total_volume'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['total_volume'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['total_miles'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['total_miles'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['total_time_delivery'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['total_time_delivery'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['fill_rate'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['fill_rate'], precision: 2) %></td>
            <td class="<%= @totals_data[key]['speed'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['speed'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['vol_per_miles'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['vol_per_miles'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['volume_per_delivery'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['volume_per_delivery'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['vol_per_hour_worked'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['vol_per_hour_worked'], precision: 0)%></td>
            <td class="<%= @totals_data[key]['delivery_hour'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['delivery_hour'], precision: 2) %></td>
            <td class="<%= @totals_data[key]['delivery_day'].negative? ? "bg-danger" : 'bg-success' %>"><%= number_with_precision(@totals_data[key]['delivery_day'], precision: 0) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= key %></td>
            <td><%= number_with_precision(@totals_data[key]['deliveries'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['total_hours'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['total_volume'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['total_miles'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['total_time_delivery'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['fill_rate'], precision: 2) %></td>
            <td><%= number_with_precision(@totals_data[key]['speed'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['vol_per_miles'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['volume_per_delivery'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['vol_per_hour_worked'], precision: 0)%></td>
            <td><%= number_with_precision(@totals_data[key]['delivery_hour'], precision: 2) %></td>
            <td><%= number_with_precision(@totals_data[key]['delivery_day'], precision: 0) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>

<iframe
    src="<%= @iframe_url %>"
    frameborder="0"
    width="100%"
    height="1000"
    allowtransparency
></iframe>
