<h1>Listing Scenarios</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Link</th>
      <th scope="col">Files</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.id %></td>
        <td><%= scenario.name %></td>
        <td><%= scenario.description %></td>
        <td><%= I18n.l scenario.date rescue '' %></td>
        <td>
          <%  if scenario.link.present? %>
            <%= link_to "Link", scenario.link %>
          <% end %>
        </td>
        <td>
          <% if scenario.files.present? %>
            <%= link_to "Files", scenario.files, target: "_blank" %>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <td><%= link_to "Edit", edit_scenario_path(scenario) %></td>
          <td><%= link_to "Destroy", scenario, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to "Details", scenario_path(scenario) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to "New Scenario", new_scenario_path %>
<% end %>